/* CSS for books.css */

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure the body takes up the whole viewport */
body {
  margin: 0;
  padding: 0;
}

/* Style the container to center the form */
.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative; /* Add relative positioning */
}

/* Style the form inputs */
#form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style the submit button */
.submit {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the heading */
h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Style the image */
img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px; /* Rounded corners */
}

/* Style the form container */
#book {
  padding-top: 50px; /* Adjust as needed to position the form vertically */
}

.container{
  background-image: url(../image/download.jpg);
}

/*footer*/
#footer{
  width: 100%;
  text-align: center;
  background: transparent;
  
}
#footer h1{
  font-weight: 600;
  text-shadow: 0px 0px 1px  solid black;
}
#footer h1 span{
  color: #e73213;
}
.social-links i{
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  background: transparent;
  color: white;
  margin-left: 10px;

  transition: 0.5s ease;
  cursor: pointer;
}
.social-links i:hover{
  background: #e73213;
}
/* Footer End */

