
/* Style for the booking details */
#booking-details {
    margin: 30px auto;
    max-width: 550px;
    max-height: 900px;
    background-image:url(../image/elnido.webp);
    padding-right: 40px;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 8px;
    box-shadow:transparent;
    font-family: Arial, Helvetica, sans-serif;

}

#booking-details h1 {
    text-align: center;
    color: solid black;
}

#booking-details strong {
    font-weight: bold;
}

#booking-details ul {
    list-style-type: none;
    padding: 0;
}

#booking-details ul li {
    margin-bottom: 5px;
    font-size: 16px;
}

span{
    color: #e73213;
}

#footer{
    width: 100%;
    text-align: center;
    background: transparent;
    
}
#footer h1{
    font-weight: 600;
    text-shadow: 0px 0px 1px  solid black;
}
#footer h1 span{
    color: #e73213;
}
.social-links i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: transparent;
    color: white;
    margin-left: 10px;
 
    transition: 0.5s ease;
    cursor: pointer;
}
.social-links i:hover{
    background: #e73213;
}
/* Footer End */

